.design-type-checkerboard-cheers .design-type-board { background:#bd251c; color:#f6b5e5; }
:is(.design-type-checkerboard-cheers) .design-type-words h3 { max-width:9em; font-family: "Noto Serif Georgian"; }
.design-pattern-party-checks .design-pattern-panel { background-color:#fff1df; background-image:conic-gradient(#f78026 25%,transparent 0 50%,#f78026 0 75%,transparent 0); background-size:64px 64px; color:#bd251c; }
.design-pattern-party-checks .design-pattern-panel p { background:#fff1df; padding:12px; }
